<header class="page-header">
  <h1>Login</h1>
</header>

<article class="login-form">
  <%= form_tag :sessions do %>
    <section class="login-inputs"><h3>Email:</h3> <%= text_field_tag :email %></section>
    <section class="login-inputs"><h3>Password:</h3> <%= password_field_tag :password %></section>
    <section class="login-btn"><%= submit_tag "Login" %><section>
  <% end %>
</article>