// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.registration-form {
  display: flex;
  justify-content: center;
  color: rgba(4, 59, 16, 1);
  border: green dotted 2px;
  border-radius: 20px;
  padding: 40px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #00821d5c;
  box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px, rgba(0, 130, 29, 0.23) 0px 3px 6px;
}

input {
  border-radius: 10px;
}

.register-inputs {
  margin: 10px;
}

.register-btn {
  margin: 10px;

  input {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffffde;
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 20px;
    background-color: rgba(0, 130, 29, 0.7);;
  }
}